{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user-email">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view" class="list-group"></div>

    <template id="email-element-template">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 id="subject" class="mb-1"></h5>
              <small id="time" class="text-muted"></small>
            </div>
            <p id="sender" class="mb-1"></p>
            <small id="body-preview" class="text-muted"></small>
        </div>
    </template>

    <div id="detail-view">
        <div class="small email-info">
            <p>From: <span class="text-muted" id="sender"></span></p>
            <p>To: <span class="text-muted" id="recipients"></span></p>
            <p>Subject: <span class="text-muted" id="subject"></span></p>
            <p>Time: <span class="text-muted" id="time"></span></p>
        </div>
        <hr>
        <p id="body"></p>
        <div class="modal-footer">
            <button id="archive" type="button" class="btn btn-primary"><i class="fas fa-archive"></i></button>
            <button id="reply" type="button" class="btn btn-primary"><i class="fas fa-reply"></i>Reply</button>
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>

    <div id="end-page-info", class="text-muted"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}