* {
    color: #e0d8ee;
}

html {
    min-height: 100vh;
}

body {
    background-color: #252329;
    min-height: 100vh;
}

nav {
    background-color: #39373d;
}

.navbar-brand {
    font-size: x-large;
}


/* Posts styles */

.posts {
    padding: 20px;
}

/* New post styles */

.new-post-form {
    max-width: 800px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    text-align: left;
}

.new-post-form .btn {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #5c5961;
    background-color: #39373d;
}

.new-post-form input {
    background-color: #252329;
    border-color: #5c5961;
    color: #e0d8ee;
}

.new-post-form input:focus {
    background-color: #252329;
    color: #e0d8ee;
}

.new-post-form textarea {
    background-color: #252329;
    border-color: #5c5961;
    color: #e0d8ee;
}

.new-post-form textarea:focus {
    background-color: #252329;
    color: #e0d8ee;
}

.new-post-form label {
    padding-left: 5px;
    font-size: x-large;
}

#new-post-head {
    align-items: center;
}

.body hr {
    border: 1px solid #5c5961;
}

/* Login and register styles */

.sign-in {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    margin-top: 70px;
    padding: 10px;
    text-align: center;
}

.sign-in h2{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.sign-in-form {
    margin: 10px;
    margin-top: 5px;
    padding: 10px;
    padding-top: 5px;
    border: 2px solid #5c5961;
    border-radius: 10px;
    background-color: #39373d;
}

.sign-in-form .form-group {
    margin: 10px;
    text-align: left;
}

.sign-in-form input {
    background-color: #252329;
    border-color: #5c5961;
}

.sign-in-form input:focus {
    background-color: #252329;
}

.sign-in-form label {
    padding-left: 5px;
}

.sign-in-form a:hover {
    color: #0678f1;
    text-decoration: none;
}

.sign-in-form .btn {
    margin-top: 40px;
    padding: 7px;
    color: #e0d8ee;
    width: 100%;
    background-color: #0066d3;
}

.sign-in-form .btn:hover {
    background-color: #0678f1;
    color: #eae4f1;
}


/* All posts styles */

#posts-label {
    margin: 20px;
    padding-left: 5px;
    font-size: x-large;
}

#posts {
    margin: 10px;
}

.list-group-item {
    margin: 10px;
    margin-bottom: 25px;
    background-color: #39373d;
    color: #e0d8ee;
}

.list-group-item:hover {
    background-color: #39373d;
}

.list-group-item > #text {
    color: #eae4f1;
}

.list-group-item > #post-bottom {
    margin-top: 5px;
}



/* Pagination style */

.page-link {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #5c5961;
    background-color: #39373d;
    color: #e0d8ee;
}

.page-link.disabled {
    color: #252329;
}

.page-link.disabled:hover {
    color: #252329;
    cursor: default;
}

.page-link:hover {
    color: #fff;
    text-decoration: none;
    border: 1px solid #5c5961;
    background-color: #39373d;
}
